.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;

    input{
        background: #40546D;
        border: none;
        color: #fff;
        padding: 12px;
        border-radius: 4px;
        outline: none;
        font-size: 16px;
    }
    input::placeholder{
        color: rgba($color: #fff, $alpha: 0.5);
    }

    label{
        color: #fff;
        font-size: 14px;
        margin: 0 0 10px 0;
    }

    .inputPassword{
        background: #40546D;
        border: none;
        color: #fff;
        border-radius: 4px;
        outline: none;
        font-size: 16px;    
        display: flex;  
        cursor: pointer;  
        transition: 300ms all;

        input{
            background: transparent;
            padding: 12px;
            width: 90%;
        }

        .eyeClose{
            width: 10%;
            background-image: url("../../assets/icons/eyeclose.svg");
            background-size: 22px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 300ms all;
        }

        .eyeOpen{
            width: 10%;
            background-image: url("../../assets/icons/eyeopen.svg");
            background-size: 22px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 300ms all;
        }
    }

}