.tableContainer{
    height: 520px;
    display: flex;
    flex-direction: column;

    .tableItem{
        width: 100%;
        background: var(--color-head-table-primary);
        border: 1px solid rgba($color: #fff, $alpha: 0.08);
        border-radius: 5px;
        margin-bottom: 30px;
        height: 100%;
    }
}
