

.tableContainer{
    height: 400px;
    display: flex;
    flex-direction: column;

    .tableItem{
        width: 100%;
        background: #26374C;
        border: 1px solid rgba($color: #fff, $alpha: 0.08);
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 30px;
        height: 100%;
    }
}
