.container{
    position: relative;

    .priceItem{
        display: flex;
        span{
            margin-left: 6px;
        }
    }

    .header{
        height: 40px;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.08);
        position: absolute;
        right: 0;
        left: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 0 12px;

        h3{
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 14px;
            margin-right: 12px;
        }
    }
    
    .tableContainer{
        position: absolute;
        top: 40px;
        height: 413px;
        overflow-x: auto;
        box-sizing: content-box;
        left: 0;
        right: 0;
        bottom: 0;

        // table {
        //     min-width: 500px;
        //     overflow-y: auto;
        // }   
    }

    .seeMoreButton{
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 22px 0;
    }

    .groupButtonsList{
        display: flex;
        justify-content: space-between;
        width: 280px;
    }
}